:root {
    --green-color: #18cfab;
    --grey-dark-text-color: #4e4e4e;
    --grey-light-text-color: #777777;
    --ultralight-blue-color: #f8fcfe;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.xs-regular {
    font-size: 10px;
    font-weight: normal;
}

.xs-bold {
    font-size: 10px;
    font-weight: bold;
}

.xs-sm-regular {
    font-size: 12px;
    font-weight: normal;
}

.sm-regular {
    font-size: 14px;
    font-weight: normal;
}

.sm-bold {
    font-size: 14px;
    font-weight: bold;
}

.sm-md-bold {
    font-size: 16px;
    font-weight: bold;
}

.md-light {
    font-size: 24px;
    font-weight: lighter;
}

.md-regular {
    font-size: 24px;
    font-weight: normal;
}

.md-bold {
    font-size: 24px;
    font-weight: bold;
}

.lg-bold {
    font-size: 32px;
    font-weight: bold;
}

.xl-bold {
    font-size: 56px;
    font-weight: bold;
}

.upp {
    text-transform: uppercase;
}
.header-section {
    background-image: url("../img/background/section-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(73, 73, 73, 0.6);
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo-ham-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 50px;
}

.logo-ham-hexagon {
    width: 52px;
    height: 30px;
    background-color: var(--green-color);
    position: relative;
    text-align: center;
    margin-right: 5px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo-ham-hexagon:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    top: -15px;
    border-bottom: 15px solid var(--green-color);
}

.logo-ham-hexagon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    bottom: -15px;
    border-top: 15px solid var(--green-color);
}

.logo-ham-text {
    display: inline;
    color: white;
}

.green-text {
    color: var(--green-color);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    color: var(--green-color);
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.header-nav-item {
    color: #b8b8b8;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.header-nav-item:hover {
    height: 84px;
    border-bottom: 2px solid var(--green-color);
    color: var(--green-color);
}

.first-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.first-bg-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
}

.first-bg-text-margin {
    margin: 20px auto;
}

.first-bg-btn {
    margin-top: 60px;
}

.btn {
    text-decoration: none;
    padding: 12px;
    text-align: center;
    border-radius: 3px;
    transition: all .4s ease-out;
    cursor: pointer;
    box-shadow: 0 -3px 0 white;
}

.green-btn {
    background-color: var(--green-color);
    margin: auto 8px;
    color: white;
}

.blue-btn {
    background-color: #00cbf6;
    margin: auto 8px;

}
.second-section {
    min-width: 1200px;
    height: 250px;
    display: flex;
}

.second-section-icon {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
    padding-top: 70px;
    position: relative;
}

.second-section-icon-img {
    height: 100%;
}

.second-section-icon:nth-child(even) {
    background-color: var(--green-color);
    border-top: 4px solid white;
    color: white;
}

.second-section-icon:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 4px solid var(--green-color);
    color: var(--green-color);
}

.second-section-icon-text {
    position: absolute;
    bottom: 60px;
}
.service-section {
    min-width: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-dark-text-color);
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    color: var(--grey-light-text-color);
}

.sections-title {
    margin-top: 50px;
}

.sections-title:after {
    content: " ";
    display: block;
    margin: 25px auto 35px;
    width: 70px;
    height: 4px;
    transform: skew(60deg, 0);
    border-top: 1px solid var(--green-color);
    border-bottom: 1px solid var(--green-color);
}

.service-tabs-header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.service-tabs-header {
    width: calc(100% / 6);
    height: 60px;
    border: 1px solid rgb(210, 210, 210);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--ultralight-blue-color);
}

.service-tabs-header.active {
    background-color: var(--green-color);
    color: white;
    border: none;
}

.service-tabs-header:hover {
    background-color: var(--green-color);
    color: white;
    border: none;
}

.triangle {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--green-color);
    bottom: -10px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.triangle.active {
    display: block;
}

.service-tabs-img-text {
    display: none;

}

.service-tabs-img-text.active {
    display: block;
}

.service-tabs-img {
    width: calc(100% / 6);
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.service-tabs-text {
    margin-top: 2px;
    text-align: justify;
    line-height: 20px;
}

/* end of service section */


/* start of purchase section*/

.purchase-section {
    margin-top: 50px;
    min-width: 1200px;
    background-image: url("../img/background/section-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.purchase-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.purchase-head-text {
    margin: 100px auto 25px;
}

.purchase-btn {
    margin: 70px auto 100px;
}
.our-work-section {
    min-width: 1200px;
    background-color: var(--ultralight-blue-color);
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-dark-text-color);
    padding-bottom: 50px;
}

.our-work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.our-work-header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.our-work-header {
    width: calc(100% / 5);
    min-height: 60px;
    border: 1px solid rgb(210, 210, 210);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: white;
}

.our-work-header.active:before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    height: 2px;
    top: -3px;
    background-color: var(--green-color);
}

.our-work-header:hover {
    background-color: var(--green-color);
    color: white;
    border-color: var(--green-color);
}

.img-gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
    margin: 45px auto;
    justify-content: center;
    transition: all 1500ms;
    transition-timing-function: ease-in-out;
}


.gallery-item {
    width: calc(100% / 4);
    overflow: hidden;
    transition: all;
    transition-timing-function: ease-in-out;
    position: relative;
}


.gallery-item img {
    width: 100%;
    height: 100%;
}


.load-more-btn {
    transition: all;
    transition-timing-function: ease-in-out;
}

.plus-margin-right {
    margin-right: 12px;
}


.galley-item-hover {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 2px solid var(--green-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: var(--ultralight-blue-color);
}

.gallery-item-hover-icon {
    margin: 0 2px;
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--green-color);
    border-radius: 50%;
    color: var(--green-color);
}

.gallery-item-hover-icon:hover {
    color: white;
    background-color: var(--green-color);
}

.gallery-item-info {
    line-height: 1.5;
    margin-top: 15px;
}

.news-section {
    min-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-dark-text-color);
}

